html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   font-family: Helvetica, sans-serif;
   /* box-sizing: border-box; */
}

.left-col,
.right-col {
   position: absolute;
   width: 50%;
   height: 100vh;
}

.left-col {
   background-color: #d45b48;
}

.right-col {
   left: 50%;
}

.upper {
   position: absolute;
   width: 100%;
   height: 50vh;
   background: #4f4538;
   opacity: 0;
   animation: appear-text 0.0001s linear forwards;
   animation-delay: 3s;
}

.bottom {
   position: absolute;
   top: 50%;
   width: 100%;
   height: 50vh;
   background: url(../images/1.jpg) no-repeat 50% 50%;
   background-size: cover;
    opacity: 0;
    animation: appear-text 0.0001s linear forwards;
    animation-delay: 4.6s;
}

/* ============================= */

@media(max-width: 900px) {
   .left-col {
      width: 100%;
   }

   .right-col {
      top: 100%;
      left: 0%;
      width: 100%;
   }
}

/* ============================== */

.logo {
   font-family: serif;
   color: #ffffff;
   position: fixed;
   font-weight: bolder;
   margin: 1.4em;
   z-index: 1;
}

.year {
   position: absolute;
   color: #000;
   font-family: serif;
   bottom: 8%;
   font-weight: bolder;
   transform: rotate(-90deg);
   left: 0%;
   /* letter-spacing: 4px; */
}

.buy {
   color: #f4c8ad;
   text-transform: uppercase;
   font-family: serif;
   text-decoration: underline;
   position: absolute;
   top: -2.6%;
   right: 0%;
   margin: 1.4em;
}

.cover {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50%;
   height: 50%;
   background: url(../images/5.jpg) no-repeat 50% 50%;
   background-size: cover;
   opacity: 0;
   animation: appear-text 0.0001s linear forwards;
   animation-delay: 2.6s;
}

.data {
   position: absolute;
   top: 36%;
   left: 33%;
   transform: translate(-50%, -50%);
   color: #cdbba5;
   font-family: serif;
   text-transform: uppercase;
   letter-spacing: 4px;
}

#name {
   font-weight: bolder;
}

#artist {
   font-size: 10px;
}

.play,
.next ion-icon {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #ffffff;
   opacity: .6;
   border-radius: 50%;
   border: 1px solid rgba(255, 255, 255, .3);
   padding: 2em;
   cursor: pointer;
}

.about {
   position: absolute;
   top: 40%;
   left: 26%;
   transform: translate(-50%, -50%);
}

.about h1 {
   font-family: serif;
   font-weight: bolder;
   text-transform: uppercase;
   color: #6f6457;
}

.about p {
   color: #bcac98;
   font-family: serif;
   font-size: 10px;
   text-transform: uppercase;
   letter-spacing: 4px;
   cursor: pointer;
}

.about span:hover {
   text-decoration: underline;
}

.media {
   margin-top: 40px;
}

.media p {
   color: #6f6457;
   margin-bottom: 0;
}

.media ul {
   position: absolute;
   left: -20%;
   list-style: none;
}

.media ul li {
   display: inline-block;
   padding-right: 10px;
   color: #bcac98;
}

.next {
   position: absolute;
   top: 24%;
   left: 17%;
}

.data2 {
   position: absolute;
   top: 16%;
   left: 28%;
   font-family: serif;
   text-transform: uppercase;
   letter-spacing: 4px;
   color: #cdbba5;
}

.more {
   position: absolute;
   top: 80%;
   left: 10%;
   font-size: 15px;
   font-family: serif;
   text-transform: uppercase;
   text-decoration: underline;
   color: #f4c8ad;
}

.block-cover {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 50%;
   height: 50%;
}

.block-cover::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #4f4538;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2s;
}

@keyframes rev-block {

   0% {
      left: 0;
      width: 0%;
   }

   50% {
      left: 0;
      width: 100%;
   }

   100% {
      left: 100%;
      width: 0%;
   }

}

@keyframes appear-text {

   0% {
      opacity: 0;
   }

   100% {
      opacity: 1;
   }

}


.upper-block {
   position: absolute;
   width: 100%;
   height: 50vh;
}

.upper-block::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #4f4538;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 2.4s;
}

.block-bottom {
   position: absolute;
   top: 50%;
   width: 100%;
   height: 50vh;
}

.block-bottom::after {
   content: '';
   top: 0;
   left: 0;
   position: absolute;
   width: 0%;
   height: 100%;
   background: #000;
   animation: rev-block 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
   animation-delay: 4s;
}